

#main{
  border:1px solid #ddd;
  width:600px;
  height:600px;
}
  .title{
    font-size:30px;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
  }

.tabs{
  height:100%;
  .tabs__items{
    height:100%;
    padding-bottom: 130px;
    .tabs__content{
      height:100%;
    }
  }
  .tabs__wrapper,
  .tabs__container{
    overflow: hidden;
  }
  .tabs__wrapper .tabs__container .tabs__li{
    width: 50%;
    flex: none;
    max-width:none;
  }
}