<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
      <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/materialChat.css">
      <link rel='stylesheet' href='/dist/css/default.css' />

  </head>
  <body>
      <div id="chatbox">
          <v-tabs fixed icons centered>
              <v-tabs-bar dark color="white">
                  <v-tabs-slider color="blue"></v-tabs-slider>
                  <v-tabs-item href="#tab-1">
                      <v-icon>chat</v-icon>
                      채팅
                  </v-tabs-item>
                  <v-tabs-item href="#tab-2">
                      <v-icon>settings</v-icon>
                      설정
                  </v-tabs-item>
              </v-tabs-bar>
              <v-tabs-items>
                  <v-tabs-content :key="1":id="'tab-1'">
                      <div id="friends">
                          <div class="friend">
                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <p>
                                  <strong>public chat</strong>
                                  <span>공개 채팅방입니다.</span>
                              </p>
                              <div class="status available"></div>
                          </div>
                      </div>
                      <div id="search">
                          <input type="text" id="searchfield" value="Search contacts..." />
                      </div>
                  </v-tabs-content>
                  <v-tabs-content :key="2":id="'tab-2'">
                      bbb
                  </v-tabs-content>
              </v-tabs-items>
          </v-tabs>
          <!--<div id="friendslist">-->

              <!--&lt;!&ndash;<div id="topmenu">&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span class="friends"></span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="chats active"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span class="addChat"></span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<span class="history"></span>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="menus">&ndash;&gt;-->
                      <!--&lt;!&ndash;<v-menu bottom left>&ndash;&gt;-->
                          <!--&lt;!&ndash;<v-btn icon slot="activator" dark>&ndash;&gt;-->
                              <!--&lt;!&ndash;<v-icon>more_vert</v-icon>&ndash;&gt;-->
                          <!--&lt;!&ndash;</v-btn>&ndash;&gt;-->
                          <!--&lt;!&ndash;<v-list>&ndash;&gt;-->
                              <!--&lt;!&ndash;<v-list-tile v-for="item in items" :key="item.title" @click="">&ndash;&gt;-->
                                  <!--&lt;!&ndash;<v-list-tile-title>{{ item.title }}</v-list-tile-title>&ndash;&gt;-->
                              <!--&lt;!&ndash;</v-list-tile>&ndash;&gt;-->
                          <!--&lt;!&ndash;</v-list>&ndash;&gt;-->
                      <!--&lt;!&ndash;</v-menu>&ndash;&gt;-->
                  <!--&lt;!&ndash;</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->



          <!--</div>-->

          <div id="chatview" class="p1">
              <div id="profile">

                  <div id="close">
                      <div class="cy"></div>
                      <div class="cx"></div>
                  </div>

                  <p>Miro Badev</p>
                  <span>miro@badev@gmail.com</span>
              </div>
              <div id="chat-messages">
                  <label>Thursday 02</label>
                  <msg-bubble v-for="thisMsg in messages" v-bind:send-text="thisMsg.sendText" v-bind:id="thisMsg.id"
                              v-bind:class="thisMsg.msgType== 'my' ? 'right' : '' " v-bind:time-stamp="thisMsg.timeStamp">
                  </msg-bubble>
              </div>

              <div id="sendmessage">
                  <input type="text" value="Send message..." class="message_input" />
                  <button class="send_message"></button>
              </div>

          </div>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
      <script src="https://momentjs.com/downloads/moment.min.js" ></script>
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
      <script src="/firebaseKey.js"></script>
      <script src="http://13.125.125.39:4000/javascripts/translate.js"></script>
      <script src="/javascripts/userScript.js"></script>
      <script src="/javascripts/chat.js"></script>
  </body>
</html>
